body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

header {
    position: absolute;
    top: 0;
    right: 2;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: #FF6F61;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

header h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#outletForm {
    margin-top: 150px;
}

#toggleStatusButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#toggleStatusButton.off {
    background-color: #f44336;
}

#toggleStatusButton:hover {
    background-color: #45a049;
}

#toggleStatusButton.off:hover {
    background-color: #e57373;
}

#toggleStatusButton:active {
    transform: scale(0.95);
}

#toggleStatusButton.off:active {
    transform: scale(0.95);
}

/* CSS for Search Bar */
#searchForm {
    margin-bottom: 20px;
    display: flex;
    justify-self: center;
    justify-content: left;
    align-items: center;
    width: 80%;
}

#searchForm label {
    margin-right: 10px;
    font-weight: bold;
}

#searchForm input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    margin-right: 10px;
}

#searchForm button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#searchForm button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 600px) {
    #searchForm input[type="text"] {
        width: 100%;
        margin-right: 0;
    }
}

form {
    background-color: #fff;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
}

form h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

form label {
    font-size: 1rem;
    color: #333;
}

form input[type="radio"] {
    margin-right: 10px;
}

form button {
    background-color: #FF6F61;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

form button:hover {
    background-color: #d97706;
}

.flex-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
}

#count-container {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    background-color: #e7ac8f;
}

#marquee-div {
    display: flex;
    justify-content: space-between;
    animation: scrollText 10s linear infinite;
}

#marquee-div p {
    color: white;
    font-size: large;
    font: bolder;
}


@keyframes scrollText {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.orders {
    padding: 10px;
    width: 100svw;
    margin-top: 20px;
    max-height: 80vh;
    overflow-y: auto;
}

.order {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order p {
    margin: 10px 0;
    color: #333;
}

.order p strong {
    color: #FF6F61;
}

.newOrder {
    background-color: rgb(153, 211, 153);
}

#orderStats {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

#orderStats div {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

#orderStats div h1 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

#orderStats div span {
    font-weight: bold;
    color: #000;
}

.fullfilled {
    background-color: #5f5f5f;
}

@media (min-width: 769px) {
    .flex-box {
        flex-direction: row;
        align-items: flex-start;
        max-width: none;
        justify-content: space-evenly;
    }

    .orders,
    #orderStats {
        width: 98%;
    }
}

#wrapper {
    width: 80svw;
    margin-top: 100px;
    padding-left: 5px;
}

.side-panel {
    margin-top: 100px;
    width: 20svw;
    height: 100svh;
    background-color: #dc9a79;
    color: white;
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
}

.side-panel h2 {
    font-size: 24px;
    margin: 30px;
    text-align: center;
}

.side-panel .menu-item {
    background: #f8be78;
    padding: 15px;
    margin: 5px 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.side-panel .menu-item:hover,
.side-panel .menu-item.active {
    background: #1abc9c;
}

/* Responsive Design */
@media (max-width: 600px) {
    #searchForm input[type="text"] {
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .side-panel {
        width: 200px;
        padding: 10px;
    }

    .side-panel h2 {
        font-size: 20px;
    }

    .side-panel .menu-item {
        font-size: 14px;
    }
}

.hidden {
    display: none !important;
}

.section {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.section:not(.hidden) {
    display: block;
    opacity: 1;
}

#orderStatsChart {
    display: flex;
    align-self: center;
    max-height: 500px;
    width: 100%;
    height: auto;
}

#topSellingItemsChart {
    display: flex;
    align-self: center;
    max-height: 500px;
    width: 100%;
    height: auto;
}

/* web editing */

#manageWebsite {
    padding: 20px;
    background-color: #f9f9f9;
    /* light background for contrast */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

#manageWebsite h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#menu-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #444;
}

.menu-container {
    margin-top: 20px;
}

.category,
.subcategory {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-header,
.subcategory-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    margin-right: 10px;
    background-color: #fafafa;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007BFF;
    background-color: #fff;
}

button {
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.li-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.ul-table {
    width: 100%;
}

.ul-table label {
    font-weight: bold;
}

.ul-table input {
    width: 70%;
    font-size: 0.9rem;
}

.bottom-border {
    border-bottom: 1px solid #f1f1f1;
}

.subcategory-header,
.category-header {
    background-color: #f5f5f5;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.category-header input,
.subcategory-header input {
    flex-grow: 1;
    margin-right: 10px;
}

button {
    margin-left: 10px;
}

button.add-item,
button.add-category {
    background-color: #28a745;
}

button.add-item:hover,
button.add-category:hover {
    background-color: #218838;
}

.add-category,
.add-item {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
    display: block;
}

.add-category {
    font-size: 1.2rem;
}

.hidden {
    display: none;
}