<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.png">
    <title>Mumbai Orders</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="flex-box">
        <div>
            <header>
                <h1>IT Food&Delivery Wala - Mumbai Orders</h1>
                <button id="toggleStatusButton" onclick="toggleStatus()">Turn Off</button>
            </header>
            <form id="searchForm">
                <label for="searchInput">Search:</label>
                <input type="text" id="searchInput" placeholder="Order ID, Name, or Phone Number">
                <button type="submit">Search</button>
            </form>
            <div class="orders" >
                {% if orders %}
                    <p>Displaying {{ orders|length }} orders</p>
                    <div id="ordersList">
                        {% for order in orders %}
                            <div class="order" id="{{ order.orderId }}">
                                <h4><strong>ORDER ID:</strong> {{ order['orderId']}}</h4>
                                <p><strong>Name:</strong> {{ order['name'] }}</p>
                                <p><strong>Phone:</strong> {{ order['phone'] }}</p>
                                <p><strong>Address:</strong> {{ order['address'] }}</p>
                                <p><strong>Pincode:</strong> {{ order['pincode'] }}</p>
                                <p><strong>Date Created:</strong> {{ order['date_created'] }}</p>
                                <div class="items">
                                    <p><strong>Items:</strong></p>
                                    <ul>
                                        {% for item in order['items_list'] %}
                                            <li>
                                                <strong>Name:</strong> {{ item['name'] }}<br>
                                                <strong>Quantity:</strong> {{ item['quantity'] }}<br>
                                                <strong>Price:</strong> {{ item['price'] }}<br>
                                                <strong>Total for Item:</strong> {{ item['item_total'] }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <p><strong>Total Amount(Discounted):</strong> {{ order['total_amount'] }}</p>
                                {% if order.status == 'fulfilled'%}
                                    <span class="fullfilled-message">&#10004; Order Fullfilled</span><br>
                                {% else %}
                                    <button id="statusbtn" onclick="orderStatus('{{ order.orderId }}', '{{ order.status }}')">
                                        {{ order.status }}
                                    </button>
                                    <button onclick="printReceipt('{{ order.orderId }}')">Print Receipt</button>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No orders found.</p>
                    {% endif %}
                    </div>
                </div>
        </div>
        <div>
            <header>
                <h1>Orders Dashboard</h1>
            </header>
            <div id="orderStats">
                <div>
                    <h1>Today's Orders: <span id="ordersToday">0</span></h1>
                    <h1>Today's Orders Revenue: <span id="ordersTodayValue">0</span></h1>
                </div>
                <div>
                    <h1>Yesterday's Orders: <span id="ordersYesterday">0</span></h1>
                    <h1>Yesterday's Orders Revenue: <span id="ordersYesterdayValue">0</span></h1>
                </div>
                <div>
                    <h1>This Week's Orders: <span id="ordersThisWeek">0</span></h1>
                    <h1>This Week's Orders Revenue: <span id="ordersWeekValue">0</span></h1>
                </div>
                <div>
                    <h1>Lifetime Orders: <span id="ordersLifetime">0</span></h1>
                    <h1>Lifetime Orders Revenue: <span id="ordersLifetimeValue">0</span></h1>
                </div>
            </div>
        </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script >
        document.addEventListener('DOMContentLoaded', () => {
            getStatus()
            const searchForm = document.getElementById('searchForm')
            searchForm.addEventListener('submit', function(event) {
                event.preventDefault()
                const searchInput = document.getElementById('searchInput').value.trim().toLowerCase()
                filterOrders(searchInput)
            })
        })

        const socket = io()
        const audio = new Audio('/static/beep.mp3')
        let currentStatus = null

        if (Notification.permission === "default") {
            Notification.requestPermission().then(permission => {
                if (permission === "granted") {
                    console.log("Notification permission granted.")
                }
            })
        }

        socket.on('connect', function () {
            console.log('Connected to server')
        })

        socket.on('connect_error', function (error) {
            console.log('Failed to connect to server.')
        })

        socket.on('disconnect', function () {
            console.log('Disconnected from server')
        })

        socket.on('new_order', function (data) {
            if (data.outlet === 'Mumbai') {
            if (Notification.permission === "granted") {
                const options = {
                    body: `New order received for ${data.order.name}`,
                    icon: '/static/icon.png'
                }
                const notification = new Notification("New Order", options)
                notification.onclick = () => {
                    window.focus()
                    notification.close()
                }
                playNotificationSound()
            } else {
                console.log("Notification permission denied.")
            }
            
            const ordersList = document.getElementById('ordersList')
                const order = data.order

                const orderElement = document.createElement('div')
                orderElement.classList.add('order','newOrder')
                orderElement.id = `order-${order._id}`
                orderElement.innerHTML = `
                    <p><strong>Name:</strong> ${order.name}</p>
                    <p><strong>Phone:</strong> ${order.phone}</p>
                    <p><strong>Address:</strong> ${order.address}</p>
                    <p><strong>Pincode:</strong> ${order.pincode}</p>
                    <p><strong>Date Created:</strong> ${new Date(order.date_created).toLocaleString('en-US', { timeZone: 'Asia/Kolkata' })}</p>
                    <div class="items">
                        <p><strong>Items:</strong></p>
                        <ul>
                            ${order.items.map(item => `
                                <li>
                                    <strong>Name:</strong> ${item.name}<br>
                                    <strong>Quantity:</strong> ${item.quantity}<br>
                                    <strong>Price:</strong> ${item.price}<br>
                                    <strong>Total for Item:</strong> ${item.price * item.quantity}
                                </li>
                            `).join('')}
                        </ul>
                    </div>
                `
                ordersList.prepend(orderElement)

            }
        })

        function playNotificationSound() {
            audio.play()
                .then(() => {
                    console.log("Played notification sound")
                })
                .catch((error) => {
                    console.error("Failed to play audio:", error)
                })
        }

        function refreshOrders() {
            setTimeout(function () {
                location.reload()
            }, 360000)
        }

        function filterOrders(searchTerm) {
            const orders = document.querySelectorAll('.order')
            orders.forEach(order => {
                const orderId = order.querySelector('h4').textContent.toLowerCase();
                const name = order.querySelector('p:nth-child(2)').textContent.toLowerCase()
                const phone = order.querySelector('p:nth-child(3)').textContent.toLowerCase()
                if (orderId.includes(searchTerm) || name.includes(searchTerm) || phone.includes(searchTerm)) {
                    order.style.display = 'block'
                } else {
                    order.style.display = 'none'
                }
            })
        }

        function parseDateString(dateString) {
            const [datePart, timePart] = dateString.split(', ')
            const [day, month, year] = datePart.split('/').map(Number)
            const [hours, minutes, seconds] = timePart.split(':').map(Number)
            return new Date(Date.UTC(year, month - 1, day, hours - 5, minutes - 30, seconds))
        }

        function countOrders(orders) {
            const now = new Date()
            const startOfToday = new Date(now.getFullYear(), now.getMonth(), now.getDate())
            const startOfYesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1)
            const startOfWeek = new Date(now.getFullYear(), now.getMonth(), now.getDate() - now.getDay())
            let todayCount = 0
            let yesterdayCount = 0
            let thisWeekCount = 0
            let lifetimeCount = orders.length
            let todayRevenue = 0
            let yesterdayRevenue = 0
            let thisWeekRevenue = 0
            let lifetimeRevenue = 0

            orders.forEach(order => {
                const orderDate = parseDateString(order.date_created)
                orderDate.setHours(0, 0, 0, 0)

                if (orderDate >= startOfToday) {
                    todayCount++
                    todayRevenue += order.total_amount
                } else if (orderDate >= startOfYesterday && orderDate < startOfToday) {
                    yesterdayCount++;
                    yesterdayRevenue += order.total_amount
                }

                if (orderDate >= startOfWeek) {
                    thisWeekCount++
                    thisWeekRevenue += order.total_amount
                }

                lifetimeRevenue += order.total_amount
            })

            return { todayCount, yesterdayCount, thisWeekCount, lifetimeCount,todayRevenue,yesterdayRevenue,thisWeekRevenue,lifetimeRevenue}
        }

        async function fetchOrders() {
            const orders = {{ orders|tojson|safe }}
            return orders
        }

        async function displayOrderStats() {
            const orders = await fetchOrders()
            const counts = countOrders(orders)

            document.getElementById('ordersToday').textContent = counts.todayCount
            document.getElementById('ordersYesterday').textContent = counts.yesterdayCount
            document.getElementById('ordersThisWeek').textContent = counts.thisWeekCount
            document.getElementById('ordersLifetime').textContent = counts.lifetimeCount
            document.getElementById('ordersTodayValue').textContent = counts.todayRevenue.toFixed(2)
            document.getElementById('ordersYesterdayValue').textContent = counts.yesterdayRevenue.toFixed(2)
            document.getElementById('ordersWeekValue').textContent = counts.thisWeekRevenue.toFixed(2)
            document.getElementById('ordersLifetimeValue').textContent = counts.lifetimeRevenue.toFixed(2)
        }

        displayOrderStats()

        function orderStatus(orderId, Status) {
            console.log(orderId)
            alert("Order status updated successfully!")
            fetch('/api/status_order_mumbai', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({orderId: orderId , status : Status}) 
            })
            .catch(error => {
                console.error('Error:', error)
            })
        }

        function getStatus() {
            fetch('/api/Get_mumbai_status')
                .then(response => response.json())
                .then(data => {
                    const statusButton = document.getElementById('toggleStatusButton')
                    if (data.status) {
                        statusButton.textContent = 'Turn Off'
                        statusButton.classList.remove('off')
                    } else {
                        statusButton.textContent = 'Turn On'
                        statusButton.classList.add('off')
                    }
                    currentStatus = data.status
                })
                .catch(error => {
                    console.error('Error:', error)
                })
        }

        function toggleStatus() {
            const status = currentStatus ? 'off' : 'on'
            fetch('/api/Update_mumbai_status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ status })
            }).then(response => {
                if (response.ok) {
                    response.json().then(data => {
                        console.log('Status updated:', data)
                        currentStatus = !currentStatus
                        const statusButton = document.getElementById('toggleStatusButton')
                        statusButton.textContent = currentStatus ? 'Turn Off' : 'Turn On'
                        if (currentStatus) {
                            statusButton.classList.remove('off')
                        } else {
                            statusButton.classList.add('off')
                        }
                    })
                } else {
                    console.error('Failed to update status')
                }
            }).catch(error => {
                console.error('Error:', error)
            })
        }

        function printReceipt(orderId) {
            const orderElement = document.getElementById(orderId)
            const orderIdText = orderElement.querySelector('h4').textContent
            const items = orderElement.querySelectorAll('.items li')
            
            const itemTexts = Array.from(items).map(item => {
                const name = item.querySelector('strong:nth-child(1)').nextSibling.textContent.trim()
                const quantity = item.querySelector('strong:nth-child(3)').nextSibling.textContent.trim()
                
                return `Name: ${name}\nQuantity: ${quantity}`
            }).join('\n')

            const receiptWindow = window.open('', '_blank')
            receiptWindow.document.write('<html><head><title>Receipt</title>')
            receiptWindow.document.write('<link rel="stylesheet" type="text/css" href="./static/receipt.css">')
            receiptWindow.document.write('</head><body class="receipt">')
            receiptWindow.document.write('<h4>' + orderIdText + '</h4><div class="items"><ul>')
            receiptWindow.document.write(itemTexts.replace(/\n/g, '</li><li>').replace(/^/gm, '<li>').replace(/$/gm, '</li>'))
            receiptWindow.document.write('</ul></div></body></html>')
            receiptWindow.document.close()
            receiptWindow.print()
        }
    </script>
</body>
</html>
